{% extends "layouts/base.html" %}
{% load static %}

{% block title %}TourManager Cartagena - Menu{% endblock %}

{% block extra_css %}{% endblock %}

{% block content %}
<!-- <section class="sections  surface tours-section"> -->
<section class="sections tours-section">
    <div class="menu">
         <ul>
            <li><a class="surface card-1" href="{% url 'sale_list' %}">Ventas</a></li>
            <li><a class="surface card-2" href="">Tours</a></li>
            <li><a class="surface card-3" href="">Clientes</a></li>
            <li><a class="surface card-4" href="">Agencias</a></li>
            <li><a class="surface card-5" href="">Referidos</a></li>
            <li><a class="surface card-6" href="">Comisiones</a></li>
        </ul>
    </div>
</section>

{% endblock %}