{% extends "layouts/base.html" %}
{% load static %}

{% block title %}Detalle del Tour{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/tour.css' %}">
{% endblock %}

{% block content %}



<div class="tour-detail">
    <div class="tour-info surface">
        <h1 class="tour-title">{{ tour.name_tour }}</h1>
        <p class="tour-description">{{ tour.description }}</p>
        <p><strong>Agencia:</strong> {{ tour.agency.name_agency }}</p>
        <p><strong>Proveedor:</strong> {{ tour.provider.name_provider }}</p>
        <p><strong>Fecha:</strong> {{ tour.date_tour }}</p>
        <div class="tour-prices">
            <p><strong>Precio Venta:</strong> ${{ tour.price_sale }}</p>
            <p><strong>Precio Total:</strong> ${{ tour.price_total }}</p>
        </div>

        <a href="/" class="btn-back">←</a>
        <a href="/" class="btn-back">Comprar $ </a>
        <a href="/" class="btn-back">Agregar fotos  </a>
    </div>
    <div class="tour-gallery">
        
        {% for image in tour.images.all %}
            <div class="tour-image">
                <img src="{{ image.image_path }}" alt="{{ image.caption|default:'Imagen del tour' }}">
                {% if image.caption %}
                    <p class="caption">{{ image.caption }}</p>
                {% endif %}
            </div>
        {% endfor %}
    </div>

    
</div>
{% endblock %}
