{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'css/login.css' %}">

    <title>{% block titulo %}Login{% endblock %}</title>

    {% block styles_extra %}{% endblock %}
</head>
<body>
    {% block body %}
    <div class="fondo"></div>

    <div class="div-container">
        <form class="container" method="post">
            {% csrf_token %}
            <h2>Iniciar sesión</h2>

            <input class="inputs" type="text" name="username" id="cedula" placeholder="Cédula">
            <input class="inputs" type="password" name="password" id="contraseña" placeholder="Contraseña">

            <!-- <div class="checkbox">
                <input type="checkbox" name="recordar" id="recordar">
                <label for="recordar">Recordar contraseña</label>
            </div> -->

            <!-- <a href="#">Olvidé mi contraseña</a> -->
            <button type="submit">Ingresar</button>
            <!-- <a href="#">No tengo una cuenta</a> -->
        </form>
    </div>

    <footer>Copyright 2020. Todos los derechos reservados</footer>
    {% endblock %}
</body>
</html>
