{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'assets/css/background.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/general.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/login.css' %}">

    <title>{% block titulo %}Login{% endblock %}</title>

    {% block styles_extra %}{% endblock %}
</head>
<body>
    {% block body %}
    <div class="background"></div>
    <!-- <span class="login__logo"><img class="login__img" src="{% static  'img/logo.png' %}" alt="TM"></span> -->

    <!-- <div class="div-container surface"> -->
    <div class="login surface">
        
        <form class="login__form" method="post">
            {% csrf_token %}
            <h2 class="login__title titles">Iniciar sesión</h2>

            <input class="login__inputs" type="text" name="username" id="username" placeholder="Usuario">
            <input class="login__inputs" type="password" name="password" id="password" placeholder="Contraseña">

            <!-- <div class="checkbox">
                <input type="checkbox" name="recordar" id="recordar">
                <label for="recordar">Recordar contraseña</label>
            </div> -->

            <!-- <a href="#">Olvidé mi contraseña</a> -->
            <button class="login__button" type="submit">Ingresar</button>
            <!-- <a href="#">No tengo una cuenta</a> -->
        </form>
    </div>

    <footer class="login__footer">Copyright 2020. Todos los derechos reservados</footer>
    {% endblock %}
</body>
</html>
