<form id="saleForm" class="form_sale">
    {% csrf_token %}

    <!-- Tour -->
    <div class="form_sale__field">
        <label for="input_tour">Tour</label>
        <div class="input-group">
            <input list="tourOptions" id="input_tour" name="tour" placeholder="Seleccione o escriba un tour" />
            <datalist id="tourOptions">
                <option value="option 1">
                <option value="option 2">
                <option value="option 3">
            </datalist>
            <input type="button" value=">" title="Agregar nuevo tour" id="openModalTourBtn"/>
        </div>
    </div>

    <!-- Cliente -->
    <div class="form_sale__field">
        <label for="input_client">Cliente</label>
        <div class="input-group">
            <input list="clientOptions" id="input_client" name="client" placeholder="Seleccione o escriba un cliente" />
            <datalist id="clientOptions">
                <option value="option 1">
                <option value="option 2">
                <option value="option 3">
            </datalist>
            <input type="button" value="+" title="Agregar nuevo cliente"  id="openModalClientBtn"/>
        </div>
    </div>

    <!-- Cerrador -->
    <div class="form_sale__field">
        <label for="input_closer">Cerrador</label>
        <div class="input-group">
            <input list="closerOptions" id="input_closer" name="closer" placeholder="Seleccione o escriba un cerrador" />
            <datalist id="closerOptions">
                <option value="option 1">
                <option value="option 2">
                <option value="option 3">
            </datalist>
            <input type="button" value="+" title="Agregar nuevo cerrador" id="openModalVendorBtn"/>
        </div>
    </div>

    <!-- Jalador -->
    <div class="form_sale__field">
        <label for="input_referrer">Jalador</label>
        <div class="input-group">
            <input list="referrerOptions" id="input_referrer" name="referrer" placeholder="Seleccione o escriba un jalador" />
            <datalist id="referrerOptions">
                <option value="option 1">
                <option value="option 2">
                <option value="option 3">
            </datalist>
            <input type="button" value="+" title="Agregar nuevo jalador" id="openModalReferrerBtn"/>
        </div>
    </div>

    <!-- Valor sugerido y venta -->
    <div class="form_sale__field">
        <span>Valor sugerido: $ 100000</span>
        <label for="input_value">Valor venta tour $</label>
        <input type="number" id="sale_value_tour" name="value" />
    </div>

    <!-- Cantidad -->
    <div class="form_sale__field">
        <label for="input_quantity">Cantidad de tours</label>
        <input type="number" id="sale_quantity" name="quantity" />
    </div>

    <!-- Total -->
    <div class="form_sale__field">
        <label for="input_total">Valor total</label>
        <input type="number" id="sale_total" name="total" disabled />
    </div>

    <!-- Observaciones -->
    <div class="form_sale__field">
        <label for="input_notes">Observaciones</label>
        <textarea id="input_notes" name="notes"></textarea>
    </div>

    <!-- Botón Guardar -->
    <button type="submit" class="btn btn-success">Guardar</button>
</form>

<div id="modalTour" class="modal">
  <div class="modal-content surface">
    <span class="close" id="closeModalTour">&times;</span>
    <h3 class="titles">Seleccionar Tour</h3>
    {% include 'includes/list_tour.html' %}
  </div>
</div>

<div id="modalClient" class="modal">
  <div class="modal-content surface">
    <span class="close" id="closeModalClient">&times;</span>
    <h3 class="titles">Agregar nuevo Cliente</h3>
    {% include 'includes/form_client.html' %}
  </div>
</div>

<div id="modalVendor" class="modal">
  <div class="modal-content surface">
    <span class="close" id="closeModalVendor">&times;</span>
    <h3 class="titles">Agregar nuevo Vendedor</h3>
    {% include 'includes/form_vendor.html' %}
  </div>
</div>

<div id="modalReferrer" class="modal">
  <div class="modal-content surface">
    <span class="close" id="closeModalReferrer">&times;</span>
    <h3 class="titles">Agregar nuevo Jalador</h3>
    {% include 'includes/form_referrer.html' %}
  </div>
</div>
