<header class="container-header surface">
    <div class="header">
        <div class="logo">
            <h1>TourManager</h1>
        </div>
        <nav class="navbar">
            <ul class="nav-links">
                <li><a href="/">Inicio</a></li>
                <li><a href="">Referidos</a></li>
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'menu' %}">Menu</a></li>
                <li><a href="{% url 'accounts:logout' %}">Cerrar sesión</a></li>
                {% else %}
                <li><a href="{% url 'accounts:login' %}">Login</a></li>
                {% endif %}
        </ul>
        </nav>
    </div>
</header>