<section class="tours-section">
    <h2 class="section-title">Nuestros Tours</h2>
    <div class="tours-grid">

        {% for tour in tours %}
            <!-- Card de ejemplo -->
            <div class="tour-card">
                <img src="{{tour.image_path}}" alt="Tour al Caribe" class="tour-img">
                <div class="tour-info">
                    <h3 class="tour-title">{{tour.name_tour}}</h3>
                    <p class="tour-desc">{{tour.description}}</p>
                    <a href="#" class="btn-tour" id="select_tour" onclick='select_tour("{{tour.name_tour}}", "{{tour.price_sale}}")'>Seleccionar</a>
                    <!-- <a href="#" class="btn-tour" id="select_tour">Ver más</a> -->
                </div>
            </div>
        {% endfor %}

    </div>
</section>