{% extends 'layouts/base.html' %}
{% load humanize %}

{% block title %}Listado de Ventas | TourManager{% endblock %}

{% block content %}
  <div class="sections surface">
    <div class="sections__header" style="display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;">
      <h2 class="titles">Listado de Ventas</h2>
      <button class="btn-agregar" id="openModalBtn">+ Agregar Venta</button>
    </div>

    {% if sales %}
      <div class="tabla-ventas-container">
        <table class="tabla-ventas display responsive nowrap" id="tabla-ventas-general">
          <thead>
            <tr>
              <th>ID</th>
              <th>Detalle</th>
              <th>Fecha</th>
              <th>Tour</th>
              <th>Agencia</th>
              <th>Vendedor</th>
              <th>Cliente</th>
              <th>Referido</th>
              <th>Valor Unitario</th>
              <th>Total abonado</th>
              <th>Cantidad</th>
              <th>Total</th>
              <!-- <th>Detalle</th> -->
            </tr>
          </thead>
          <tbody>
            {% for sale in sales %}
              <tr>
                <td>{{sale.id}}</td>
                <td> <a href="{% url 'sale_detail' sale.id %}" class="btn-accion editar">👁️</a></td>
                <td>{{ sale.created_at|date:"d M Y" }}</td>
                <td>{{ sale.tour.name_tour }}</td>
                <td>{{ sale.tour.agency.name_agency}}</td>
                <td>{{ sale.employee.name }}<br>({{ sale.employee.agency.name_agency }})</td>
                <td>{{ sale.client.name }}</td>
                <td>{{ sale.referrer.name }}</td>
                <td>${{ sale.value_sale_unit|floatformat:2|intcomma }}</td>
                <td>${{ sale.total_payments|default:0|floatformat:2|intcomma }}</td>
                <td>{{ sale.quantity }}</td>
                <td>${{ sale.total_sale|floatformat:2|intcomma }}</td>
                <!-- <td>
                  <a href="{% url 'sale_detail' sale.id %}" class="btn-accion editar">👁️</a>
                  <a href="" class="btn-accion editar">📝</a>
                  <a href="" class="btn-accion eliminar">🗑️</a>
                </td> -->
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% else %}
      <p>No hay ventas registradas aún.</p>
    {% endif %}
  </div>

  <!-- Modal -->
<div id="myModal" class="modal">
  <div class="modal-content surface">
    <span class="close" id="closeModal">&times;</span>
    <h3 class="titles">Agregar nueva venta</h3>
    {% include 'includes/form_sale.html' %}
  </div>
</div>
{% endblock %}
